<div class="layui-container">
    <div class="layui-row ">
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
        {{range .list}}
            <h1 class="heading-mi"></h1>
            <div class="block">
                <div class="layui-container">
                    <div class="columns text-center">
                        <div class="column col-8 col-mx-auto text-center">
                            <h1><a href="/page?id={{.Id}}"> {{.Title}}</a></h1>
                            <p class="h4 text-center mgt10">{{.Summary}}</p>
                            <p class="h3 mgt5 text-center mgt40"><a href="/page?id={{.Id}}"
                                                                    class="layui-btn bg-blue layui-btn-radius">立即阅读</a>
                            </p>
                            <p class="text-center  mgt10">最后更新: {{time .Renew false}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}
        </div>

        <div class="layui-col-md12">
            <div class="paginator">
                <div class="text-center">
                {{if ne .paging.PageCount 1}}
                {{if eq $.page 1}}
                    <a href="?page={{calc $.page 1 "+"}}"
                       class="{{if eq $.page $.paging.Page}}active{{end}} layui-btn ghost-btn-purple">下一页</a>
                {{else if eq $.page $.paging.PageCount}}
                    <a href="?page={{calc $.page 1 "-"}}"
                       class="{{if eq $.page $.paging.Page}}active{{end}} layui-btn ghost-btn-purple">上一页</a>
                {{else}}
                    <a href="?page={{calc $.page 1 "-"}}"
                       class="{{if eq $.page $.paging.Page}}active{{end}} layui-btn ghost-btn-purple">上一页</a>
                    <a href="?page={{calc $.page 1 "+"}}"
                       class="{{if eq $.page $.paging.Page}}active{{end}} layui-btn ghost-btn-purple">下一页</a>
                {{end}}
                {{end}}
                </div>
            </div>
        </div>

    </div>
</div>