<div class="layui-container">
    <div class="layui-row ">
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="block-action columns">
                <div class="column col-12 col-mx-auto">
                    <form class="layui-form" action="/search" method="get">
                        <div class="input-action">
                            <input class="layui-input" type="text" placeholder="请输入搜索内容" name="keywords">
                            <button class="layui-btn layui-btn-sm layui-bg-gray action-button" type="submit"><i
                                    class="layui-icon layui-icon-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>

        {{range .list}}
            <h1 class="heading-mi"></h1>
            <div class="block">
                <div class="layui-container">
                    <div class="columns text-center">
                        <div class="column col-8 col-mx-auto text-center">
                            <h1><a href="/page?id={{.Id}}"> {{.Title}}</a></h1>
                            <p class="h4 text-center mgt10">{{.Summary}}</p>
                            <p class="h3 mgt5 text-center mgt40"><a href="/page?id={{.Id}}"
                                                                    class="layui-btn bg-blue layui-btn-radius">立即阅读</a>
                            </p>
                            <p class="text-center  mgt10">最后更新: {{time .Renew false}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}
        </div>
    </div>
</div>