<link rel="stylesheet" href="/static/admin/css/extend.css">
<div class="admin-submenu">
    <div style="width: 100%; height: 100%">

        <div class="submenu-scene">
            仪表盘
        </div>

        <div class="submenu-item">仪表盘</div>

        <div id="admin-submenu-c">
            <i class="layui-icon layui-icon-prev"></i>
        </div>

    </div>

</div>

<div class="admin-content">
    <div class="layui-row layui-col-space30">
        <div class="layui-col-md12">

            <div class="adminpageheader">
                <h2 class="adminpagetitle">当前位置：<a href="">仪表盘</a></h2>
            </div>

            <div class="admin-block">
                <div class="block">
                    <div class="layui-row layui-col-space25">
                        <div class="layui-col-md3">
                            <a class="widget10 bg-blue" href="#">
                                <div class="widget10-label">文章数量</div>
                                <div class="widget10-value">{{tableNum "article"}}</div>
                                <div class="widget10-label">比昨天上升了10%</div>
                                <div class="widget10-trending">
                                    <i class="layui-icon layui-icon-face-smile"></i>
                                </div>
                            </a>
                        </div>
                        <div class="layui-col-md3">
                            <a class="widget10 bg-green" href="#">
                                <div class="widget10-label">占位</div>
                                <div class="widget10-value">Nil</div>
                                <div class="widget10-label">比昨天上升了0%</div>
                                <div class="widget10-trending">
                                    <i class="layui-icon layui-icon-tips"></i>
                                </div>
                            </a>
                        </div>
                        <div class="layui-col-md3">
                            <a class="widget10 bg-yellow" href="#">
                                <div class="widget10-label">占位</div>
                                <div class="widget10-value">Nil</div>
                                <div class="widget10-label">比昨天上升了0%</div>
                                <div class="widget10-trending">
                                    <i class="layui-icon layui-icon-template-1"></i>
                                </div>
                            </a>
                        </div>
                        <div class="layui-col-md3">
                            <a class="widget10 bg-black" href="#">
                                <div class="widget10-label">占位</div>
                                <div class="widget10-value">Nil</div>
                                <div class="widget10-label">比昨天上升了0%</div>
                                <div class="widget10-trending">
                                    <i class="layui-icon  layui-icon-username"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
