@charset "UTF-8";
*{
    margin:0;
    padding:0;
}
body{
    font-family: Verdana,Tahoma,Consolas,'Microsoft Yahei';
    font-size: 16px;
    color: #333;
}
/* region 文字排版 */
.text-mini{
    font-size: 1px;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-italic{
    font-style: italic;
}
.text-bold{
    font-weight:bold ;
}
.text-gray1{
    color: #666;
}
.text-gray2{
    color: #777;
}
.text-gray3{
    color: #888;
}
.text-gray4{
    color: #999;
}
.text-gray5{
    color: #aaa;
}
.text-gray6{
    color: #bbb;
}
.text-gray7{
    color: #ccc;
}
.text-gray8{
    color: #ddd;
}
.text-gray9{
    color: #eee;
}
.text-red{
    color: #c00;
}
.text-green{
    color: #0c0;
}
.text-blue{
    color: #00c;
}
.text-redgreen{
    color: #cc0;
}
.text-redblue{
    color: #c0c;
}
.text-greenblue{
    color: #0cc;
}
abbr{
    border-bottom: 1px dotted #000;
    color: gray;
}
abbr:hover{
    cursor: help;
}
/* endregion */
/* region 关键词 */
.kw1,.kw2,.kw3,.kw4,.kw5,.kw6,.kw7,.kw8,.kw9{
    font-size: 15px;
    border-radius: 6px;
    padding: 1px 6px;
    margin: 0 2px;
}
.kw1{
    color: #c7254e;
    background-color: #f9f2f4;
}
.kw2{
    color: #3A9AB2;
    background-color: #DEF6F4;
}
.kw3{
    color: #6666ff;
    background-color: #e4e4f5;
}
.kw4{
    color: #aaaa00;
    background-color: #f6F6cc;
}
.kw5{
    color: #dd66Ff;
    background-color: #f4e4ff;
}
.kw6{
    color: #DD8740;
    background-color: #FFeecc;
}
.kw7{
    color: #2Eb975;
    background-color: #eeffcc;
}
.kw8{
    background-color: #C6CBCF;
}
.kw9{
    color: #AF6661;
    background-color: #FFD6C1;
}
/* endregion */
/* region 标签 */
.label1,.label2,.label3,.label4,.label5,.label6,.label7{
    font-weight: bold;
    font-size: 13px;
    border-radius: 4px;
    color: white;
    padding: 3px 6px;
}
.label1{
    background-color: grey;
}
.label2{
    background-color: #4984D4;
}
.label3{
    background-color: #15A85E;
}
.label4{
    background-color: #5bc0de;
}
.label5{
    background-color: #EE8842;
}
.label6{
    background-color: #d9534f;
}
.label7{
    background-color: #A46C64;
}
/* endregion */
/* region 文本框 */
.atc-text,.atc-text2{
    display: inline-block;
    border:1px solid #aaa;
    outline:none;
    width: 300px;
    padding: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.atc-text2{
    border: none;
    border-bottom: 1px solid #aaa;
    box-shadow:none;
    background-color: inherit;
}
.atc-text:focus,.atc-text2:focus{
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0 ,0 ,0 , .075), 0 0 8px rgba(102, 175, 233, .6);
}
.atc-text2:focus{
    box-shadow:none;
}
/* endregion 文本输入框 */
/* region 元素 */
::selection {
    background:#FFAF74;
    color:#fff;
}
::-moz-selection {
    background:#FFAF74;
    color:#fff;
}
@media screen and (min-width:1050px){
    .atc-panel{
        width:980px;
    }
}
.atc-root{
    width: 100%;
    background-color: #f1f1d0;
    position: relative;
}
.atc-panel{
    margin: 0 auto;
    background-color: #fff;
    border-left: 5px solid #dadaa0;
    padding: 0 35px;
    position: relative;
}
.atc-title{
    font-size: 32px;
    padding: 20px 0 30px 0;
    color: #1188bb;
}
.atc-p{
    margin: 10px 0;
    line-height: 30px;
}
.atc-img{
    margin: 10px 0;
}
.atc-subtitle,.atc-subtitle2{
    font-size: 27px;
    margin: 20px 0;
    color: #222;
}
.atc-subtitle2{
    font-size: 21px;
    font-weight: 500;
    line-height: 32px;
}
.atc-icon{
    padding: 3px 3px 3px 0;
}
.atc-code{
    margin: 10px 0;
}
.atc-link{
    padding: 0 5px;
    color: #1188bb;
    text-decoration: none;
}
.atc-link:hover{
    color: #4198bb;
    text-decoration: underline;
}
.atc-blank{
    height: 30px;
}
table{
    border-collapse:collapse;
    border:1px solid #ddd;
    text-align: center;
    width: 100%;
    margin: 10px 0;
    /*background-color:grey;*/
    /*color:#ddd;*/
}
table td,table th{
    padding: 8px 0;
    border:1px solid #ddd;
}
table > thead{
    /*background-color: #FFC3AC;*/
    background-color: #f5f5f5;
}
table > thead > tr{

}
table > thead > tr > th{
    text-align: center;
}
table > tbody{

}
table > tbody > tr{

}
table > tbody > tr:nth-child(2n){
    background-color: #f5f5f5;
}
table > tbody > tr:nth-child(2n+1){
    /*background-color: #f5f5f5;*/
}
table > tbody > tr > td{

}
table > tfoot{
    background-color: #f5f5f5;
}
table > tfoot > tr{

}
table > tfoot > tr > td{

}
.atc-footer{
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    color: #777;
    left:35px;
    bottom: 0;
    right: 35px;
    position: absolute;
}
/* endregion */

code {
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #cccccc;
}

/*标题样式*/
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .25em;
    color: inherit;
    font-weight: 500;
}

.contar-wrap h1{
    margin: 10px 0;
}
h2{
    margin: 15px 0;
    font-size: 1.2rem;
    padding-left: 20px;
    border-left: 8px solid #D87393;
}

/* 段落 */
blockquote {
    margin: 5px 0;
}

blockquote p,p {
    margin-top: 10px;
    font-size: medium;
}

/* 列表样式 */
ol {
    margin: 10px 0;
    background-color: #f1f1f1;
}
ol > li {
    padding: 10px 10px 10px;
    background-color: #f1f1f1;
    line-height: 20px;
}