<!-- comment -->

<div id="comments" class="Card comment-box-padding">

    <div id="respond-post-13" class="respond showBtn">
        <form method="post" action="https://1025.me/archives/13.html/comment" id="comment-form" role="form">
            <div class="comment-box">
                <div class="comment-tools collapse show">
                    <div class="row row-cm">
                        <div class="col col-cm order-first" style="overflow: hidden;">
                            <div class="emoji-box text-right">

                                <img data-zface="(!)[zface_1.png]" class="z-emoji-img"
                                     src="https://1025.me/usr/themes/QuietV1/face/zface_1.png"><img
                                    data-zface="(!)[zface_2.png]" class="z-emoji-img"
                                    src="https://1025.me/usr/themes/QuietV1/face/zface_2.png"><img
                                    data-zface="(!)[zface_3.png]" class="z-emoji-img"
                                    src="https://1025.me/usr/themes/QuietV1/face/zface_3.png"><img
                                    data-zface="(!)[zface_4.png]" class="z-emoji-img"
                                    src="https://1025.me/usr/themes/QuietV1/face/zface_4.png"><img
                                    data-zface="(!)[zface_5.png]" class="z-emoji-img"
                                    src="https://1025.me/usr/themes/QuietV1/face/zface_5.png"><img
                                    data-zface="(!)[zface_6.png]" class="z-emoji-img"
                                    src="https://1025.me/usr/themes/QuietV1/face/zface_6.png"><img
                                    data-zface="(!)[zface_7.png]" class="z-emoji-img"
                                    src="https://1025.me/usr/themes/QuietV1/face/zface_7.png"><img
                                    data-zface="(!)[zface_8.png]" class="z-emoji-img"
                                    src="https://1025.me/usr/themes/QuietV1/face/zface_8.png"><img
                                    data-zface="(!)[zface_9.png]" class="z-emoji-img"
                                    src="https://1025.me/usr/themes/QuietV1/face/zface_9.png"><img
                                    data-zface="(!)[zface_10.png]" class="z-emoji-img"
                                    src="https://1025.me/usr/themes/QuietV1/face/zface_10.png"><img
                                    data-zface="(!)[zface_11.png]" class="z-emoji-img"
                                    src="https://1025.me/usr/themes/QuietV1/face/zface_11.png"><img
                                    data-zface="(!)[zface_12.png]" class="z-emoji-img"
                                    src="https://1025.me/usr/themes/QuietV1/face/zface_12.png"><img
                                    data-zface="(!)[zface_13.png]" class="z-emoji-img"
                                    src="https://1025.me/usr/themes/QuietV1/face/zface_13.png"><img
                                    data-zface="(!)[zface_14.png]" class="z-emoji-img"
                                    src="https://1025.me/usr/themes/QuietV1/face/zface_14.png"><img
                                    data-zface="(!)[zface_15.png]" class="z-emoji-img"
                                    src="https://1025.me/usr/themes/QuietV1/face/zface_15.png"><img
                                    data-zface="(!)[zface_16.png]" class="z-emoji-img"
                                    src="https://1025.me/usr/themes/QuietV1/face/zface_16.png"><img
                                    data-zface="(!)[zface_17.png]" class="z-emoji-img"
                                    src="https://1025.me/usr/themes/QuietV1/face/zface_17.png"></div>
                        </div>
                        <div class="bg-white">
                            <a href="javascript:;" class="emoji-btn" title="Emoji 表情"><i class="fa fa-smile-o fa-2x"
                                                                                         name="emoji"></i></a>
                        </div>
                    </div>
                </div>
                <div class="comment-textarea-box">
                        <textarea rows="8" cols="50" name="text" id="respond-textarea" class="textarea comment-textarea"
                                  required=""></textarea>
                </div>
                <div class="comment-form collapse show">
                    <div class="row comment-form-fields">
                        <div class="col order-first">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                        <span class="input-group-text bg-white" id="ico-name"><i class="fa fa-user-o"
                                                                                                 aria-hidden="true"></i></span>
                                </div>
                                <input type="text" name="author" id="author" class="form-control" placeholder="昵称"
                                       value="" aria-label="Username" aria-describedby="ico-name" required="">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                        <span class="input-group-text bg-white" id="ico-email"><i
                                                class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
                                </div>
                                <input type="email" name="mail" id="mail" class="form-control" placeholder="邮箱"
                                       value="" aria-label="Email" aria-describedby="ico-email" required="">
                            </div>
                        </div>
                        <div class="col order-last">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                        <span class="input-group-text bg-white" id="ico-url"><i
                                                class="fa fa-internet-explorer" aria-hidden="true"></i></span>
                                </div>
                                <input type="url" name="url" id="url" class="form-control" placeholder="网站" value=""
                                       aria-label="Email" aria-describedby="ico-url">
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn comment-btn">
                        <div></div>
                    </button>

                    <a id="cancel-comment-reply-link" href="https://1025.me/archives/13.html#respond-post-13"
                       rel="nofollow" style="display:none" onclick="return TypechoComment.cancelReply();"><i
                            class="fa fa-times fa-lg" aria-hidden="true" title="取消回复"></i></a>
                </div>
            </div>
            <input type="hidden" name="_" value="ee640813ef558f5f726bd68da857f9d9"></form>
    </div>

    <h6>已有 8 条评论</h6>

    <ol class="comment-list">
        <li id="comment-44" class="comment-body comment-parent comment-odd">
            <div class="comment-author">
                <div>
                    <div class="row comment-row comment-mg">
                        <div class="comment-show-con-img">
                            <img class="avatar"
                                 src="https://secure.gravatar.com/avatar/3cbd156acdde179a145520888e318fe9?s=48&amp;r=G&amp;d=https://en.gravatar.com/userimage/13282514/8d20bf6b8499aa13c7cfe02da7496e3e.png"
                                 alt="灵徒" width="48" height="48"></div>
                        <div class="col order-last comment-col">
                            <div class="row comment-row">
                                <div class="comment-show-con-list clearfix">
                                    <div class="pl-text clearfix">
											<span class="comment-author">
												<a href="http://www.hehaoke.com" rel="external nofollow">灵徒</a>											</span>
                                        <a href="http://www.hehaoke.com" target="_blank"><i
                                                class="fa fa-internet-explorer"></i></a> <span>:</span>
                                        <span class="zface-box">
                                                ceshi
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row comment-row date-dz">
                                <div class="col order-last comment-col comment-reply">
                                    <a href="https://1025.me/archives/13.html#comment-44">3月22日&nbsp;</a>|
                                    <a href="#?replyTo=44#respond-post-13"
                                       rel="nofollow"
                                       onclick="return TypechoComment.reply('comment-44', 44);">回复</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ol>

</div>