<div class="col-sm-12 col-lg-8" id="main" role="main">
{{range .article}}
    <article class="post Card typo" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-box paddingall">
            <div class="post-title-box">
                <h4 class="post-title" itemprop="name headline"><a itemprop="url"
                                                                   href="/article/{{.Uuid}}">{{.Title}}</a></h4>
            </div>
            <div class="post-content" itemprop="articleBody">
                <div class="md_block" id="markdown">

                </div>
            </div>
        </div>
        <div class="tags-box paddingall">
            <span itemprop="keywords" class="tags">{{range $tag := tags .Tags}}
                <a href="#">{{$tag}}</a>&nbsp;&nbsp;{{end}}</span>
        </div>
        <div class="info">
            <ul class="post-meta">
                <li><i class="fa fa-calendar" aria-hidden="true">&nbsp; </i>
                    <time datetime="{{time .Renew false}}" itemprop="datePublished">{{time .Renew false}}</time>
                </li>
                <li><i class="fa fa-book fa-fw" aria-hidden="true">&nbsp; </i>{{category .Cid "name"}}</li>
                <li itemprop="interactionCount"><i class="fa fa-comments-o" aria-hidden="true">&nbsp; </i><a
                        itemprop="discussionUrl" href="#comments">{{comment .Id}}</a></li>
            </ul>
        </div>
        <div class="SubtitleBox hidden-md"></div>
    </article>
    <script src="/static/common/jquery-3.1.1.min.js"></script>
    <script src="/static/common/strapdown/strapdown.js"></script>
    <script>
        $("#markdown").text("{{.Content}}");
        markdown("markdown");
    </script>
{{end}}
{{template "QuietV1/comment.html" .}}
</div>
{{template "QuietV1/sidebar.html" .}}
