<div class="col-sm-12 col-lg-8" id="main" role="main">
    <div class="Card turned">
        <h6>包含关键字 "<strong>{{.keywords}}</strong>" 的文章</h6>
    </div>
{{range .list}}
    <article class="post Card typo indexCard" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-box paddingall">
            <div class="post-title-box">
                <h4 class="post-title" itemprop="name headline">
                    {{if $.rewrite}}
                        <a itemprop="url" href="/{{$.rule}}/{{.Name}}.html">{{.Title}}</a>
                    {{else}}
                        <a itemprop="url" href="/{{$.rule}}/{{.Name}}">{{.Title}}</a>
                    {{end}}
                </h4>
            </div>
            <div class="post-content" itemprop="articleBody">
            {{.Summary}}
            </div>
        </div>
        <div class="info">
            <ul class="post-meta">
                <li><i class="fa fa-calendar" aria-hidden="true">&nbsp; </i>
                    <time datetime="{{tsc .Renew false}}" itemprop="datePublished">{{tsc .Renew false}}</time>
                </li>
                <li><i class="fa fa-book fa-fw" aria-hidden="true">&nbsp; </i><a
                        href="/category/{{category .Cid "key"}}">{{category .Cid "name"}}</a></li>
                <li itemprop="interactionCount"><i class="fa fa-comments-o" aria-hidden="true">&nbsp; </i>
                    {{if $.rewrite}}
                        <a itemprop="discussionUrl" href="/{{$.rule}}/{{.Name}}.html#comments">{{comment .Id}} 条评论</a>
                    {{else}}
                        <a itemprop="discussionUrl" href="/{{$.rule}}/{{.Name}}#comments">{{comment .Id}} 条评论</a>
                    {{end}}
                </li>
            </ul>
        </div>
    </article>
{{end}}

{{/*<?php $this->pageNav('&laquo; 前一页', '后一页 &raquo;'); ?>*/}}
</div><!-- end #main -->

{{template "QuietV1/sidebar.html" .}}
