<!--开始右侧专栏-->
<div class="col-12 col-lg-4 hidden-md sidebar" id="secondary" role="complementary">

    <section class="widget paddingall floatblock">
        <div class="side-info-img">
            <img src="{{sc "UserImageUrl"}}" alt="">
        </div>
        <div class="side-info-author">
            <span>{{sc "Author"}}</span>
        </div>
        <div class="side-info-link">
            <a href="mailto:{{sc "UserEmail"}}" target="_blank"><i class="fa fa-envelope-o fa-fw"
                                                                   aria-hidden="true">&nbsp; </i></a>
            <a href="{{sc "UserGithub"}}" target="_blank"><i class="fa fa-git fa-fw"
                                                             aria-hidden="true">&nbsp; </i></a>
        </div>
        <div class="side-info-con">
            <pre class="hitokoto">人不是靠做出来的 而是靠活出来的。</pre>
        </div>
    </section>

    <section class="widget paddingall">
        <h5 class="widget-title">最新文章</h5>
        <ul class="widget-list">
            {{with $list := na 3}}
                {{range $list}}
                    <li>
                        {{if eq $.rewrite "true"}}
                            <a href="/{{$.rule}}/{{.Name}}.html"><i
                                        class="fa fa-caret-right fa-lg">&nbsp; </i>{{.Title}}</a>
                        {{else}}
                            <a href="/{{$.rule}}/{{.Name}}"><i class="fa fa-caret-right fa-lg">&nbsp; </i>{{.Title}}</a>
                        {{end}}
                    </li>
                {{end}}
            {{end}}
        </ul>
    </section>

    <section class="widget paddingall">
        <h5 class="widget-title">最近回复</h5>
        <ul class="widget-list RecentReply zface-box">
            {{with $list := nc 5 true}}
                {{range $list}}
                    <li><span class="avatar"><a href=mailto:{{.Email}}><img class="avatar"
                                                                            src="{{gavatar .Email}}"
                                                                            alt="{{.Name}}" width="24" height="24"></a></span>
                        {{if eq $.rewrite "true"}}
                            <a href="/{{$.rule}}/{{itu .Aid}}.html#comment-{{.Id}}">{{.Name}}</a>: {{.Content}}
                        {{else}}
                            <a href="/{{$.rule}}/{{itu .Aid}}#comment-{{.Id}}">{{.Name}}</a>: {{.Content}}
                        {{end}}
                    </li>
                {{end}}
            {{end}}
        </ul>
    </section>

    <section class="widget paddingall">
        <h5 class="widget-title">分类</h5>
        <ul class="widget-list">
            {{with $list := cl}}
                {{range $list}}
                    <li><a href="/category/{{.Key}}"><i class="fa fa-book fa-lg"
                                                        aria-hidden="true">&nbsp; </i>{{.Name}}({{cn .Id}})</a>
                    </li>
                {{end}}
            {{end}}
        </ul>
    </section>

    <section class="widget paddingall">
        <h5 class="widget-title">其它</h5>
        <ul class="widget-list">
            <li class="last"><a href="/admin">后台</a></li>
        </ul>
    </section>

    <section class="widget paddingall">
        <h5 class="widget-title">友情链接</h5>
        <ul class="widget-list">
            {{with $list := link}}
                {{range $list}}
                    <li class="last"><a href="{{.Url}}" title="{{.Description}}">{{.Name}}</a></li>
                {{end}}
            {{end}}
        </ul>
    </section>

</div>
</div><!-- end .row -->
</div>
<div class="GoTop" title="返回顶部"></div>
</div><!-- end #body -->

<footer id="footer" class="footer" role="contentinfo">
    <em>
        &copy; {{ed "year"}} <a href="#">{{.config.WebTitle}}</a>.
        由 <a href="//xblogs.cn">GoMD</a> 强力驱动. Theme Design By <a href="//www.1025.me">Cgons</a>.
    </em>
</footer><!-- end #footer -->
<script src="/static/index/QuietV1/js/jquery-3.3.1.min.js"></script>
<link href="https://cdn.bootcss.com/emojify.js/1.1.0/css/basic/emojify.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/emojify.js/1.1.0/js/emojify.min.js"></script>
<script type="text/javascript">
    $(function () {
        emojify.setConfig({
            img_dir: 'https:' == document.location.protocol ? "https://staticfile.qnssl.com/emoji-cheat-sheet/1.0.0" : "http://cdn.staticfile.org/emoji-cheat-sheet/1.0.0",
            blacklist: {
                'ids': [],
                'classes': ['no-emojify'],
                'elements': ['^script$', '^textarea$', '^pre$', '^code$']
            },
        });
        emojify.run();
    });
</script>

<script src="/static/index/QuietV1/bootstrap/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
<script src="/static/index/QuietV1/js/main.js"></script>

<script type="text/javascript">
    $('.side-info-img').num();//调用头像边框效果
    $('.hitokoto').hitokoto(); //调用一言
    hljs.initHighlightingOnLoad();//开启代码高亮插件 highlightjs
    readyrun();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115505877-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-115505877-1');
</script>