.heading-mi {
    margin-top:3rem;
}
.heading-mi a {
    float: right;
    font-size: 14px;
}
.s-header .s-header-menu li a.active {
    color: #ffffff;
    background-color: #2196f3;
    margin: 300px auto 200px auto;
    padding: 15px;
    width:150px;
    text-align: center;
    border-radius: 4px;
}
.s-header .s-header-logo {
    font-size: 300%;
    width: 60px;
    height: 44px;
    margin-right: 20px;
}

/* 引用 */
blockquote {
    margin: 20px 0;
    padding: 10px;
    line-height: 22px;
    border-left: 5px solid #009688;
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
}

/** 表格 **/
table{width: 100%; margin: 20px 0; background-color: #fff; color: #666;}
table tr{transition: all .3s; -webkit-transition: all .3s;}
table th{text-align: left; font-weight: 400;}
table thead tr,
table-header,
table-tool,
table-patch,
table-mend,
table[lay-even] tr:nth-child(even),
table tbody tr:hover,
table-hover,
table-click{background-color: #f2f2f2;}
table th,
table td,
table[lay-skin="line"],
table[lay-skin="row"],
table-view,
table-header,
table-tool,
table-page,
table-fixed-r,
table-tips-main{border-width: 1px; border-style: solid; border-color: #e6e6e6;}
table th, table td{position: relative; padding: 9px 15px; min-height: 20px; line-height: 20px;  font-size: 14px;}
/*
本页专用
 */
.blogbox {
    padding: 2.1em 0.4em 2.1em;
    background-color: #fff;
    box-shadow: 0 10px 60px 0 rgba(29, 29, 31, 0.09); }
.blogbox .blogbox-header {
    margin-bottom: 1.5rem;
    padding-bottom: .7rem;
    border-bottom: 1px solid #f5f5f5; }
.blogbox .blogbox-header h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 1.2rem;
    font-weight: bold;
    color: #252629; }
.blogbox .blogbox-info {
    margin-left: 30px;
    color: #999999;
    font-size: 16px; }
.blogbox .blogbox-info i {
    font-size: 12px;
    margin-left: 10px; }
.blogbox .blogbox-body{
    margin: 0 5px;}
.blogbox .blogbox-author{
    margin-right: 30px;
    border-radius: .25em; }
/* 区块标题描述总结头 */
.heading-block {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
.heading-block h1 {
    margin: 0;
    color: #444;
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem; }
.heading-block p {
    text-align: center;
    color: #768093;
    font-size: 16px;
    max-width: 60%;
    line-height: 2; }
/* 标签 */
.article-label {
    display: inline;
    padding: .2em .6em .2em;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
/* 链接样式 */
p a, a:hover {
    color: #2196f3;
    text-decoration: none;
}

/* 头 */
.header-center {
    width:100%;
    text-align:center;
}
.header-center ul {
    display:inline-block;
}
.header-center li {
    float:left;
}
.header-center li + li {
    margin-left:20px;
}