<div class="container-wrap">
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md12">
                <div class="heading-block">
                    <h1>xuthus</h1>
                    <p>专用垃圾代码重复造轮子</p>
                </div>
                <div class="typo">
                    <p>这算是我自己手写的第一个比较正经的博客系统吧！</p>
                    <h4>自我介绍</h4>
                    <p>没有介绍</p>
                    <h4>个人技能</h4>
                    <p>PHP，LINUX，GOLANG</p>
                    <h4>个人属性</h4>
                    <p>无</p>
                </div>
                <div style="margin-bottom: 70px"></div>
            </div>
        </div>
    </div>
</div>