<div class="container-wrap">
    <div class="container">
        <div class="contar-wrap">
            <h4 class="item-title">
                <p><i class="layui-icon layui-icon-speaker"></i>公告：<span>{{notice}}</span></p>
            </h4>
        {{range .list}}
            <div class="item">
                <div class="item-box  layer-photos-demo1 layer-photos-demo">
                    <h3><a href="/article/{{.Uuid}}">{{.Title}}</a></h3>
                    <h5>发布于：<span>{{time .Renew false}}</span></h5>
                    <p>{{.Summary}}</p>
                </div>
                <div class="comment count">
                    <a href="#">评论</a>
                    <a href="javascript:;" class="like">点赞</a>
                </div>
            </div>
        {{end}}
        </div>
        <div class="item-btn">
        {{if gt .paging.PageCount 1}}
        {{if eq $.page 1}}
            <a href="?page={{calc $.page 1 "+"}}"
               class="{{if eq $.page $.paging.Page}}active{{end}} layui-btn ghost-btn-purple">下一页</a>
        {{else if eq $.page $.paging.PageCount}}
            <a href="?page={{calc $.page 1 "-"}}"
               class="{{if eq $.page $.paging.Page}}active{{end}} layui-btn ghost-btn-purple">上一页</a>
        {{else}}
            <a href="?page={{calc $.page 1 "-"}}"
               class="{{if eq $.page $.paging.Page}}active{{end}} layui-btn ghost-btn-purple">上一页</a>
            <a href="?page={{calc $.page 1 "+"}}"
               class="{{if eq $.page $.paging.Page}}active{{end}} layui-btn ghost-btn-purple">下一页</a>
        {{end}}
        {{end}}
        </div>
    </div>
</div>