<script src="/static/admin/js/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" href="static/common/highlight/styles/agate.css">
<script src="static/common/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<link rel="stylesheet" href="static/index/xianyan/css/artui.css">
<div class="container-wrap">
<div class="container container-message container-details">
<div class="contar-wrap">
{{range .article}}
    <div class="item" id="article">
        <div class="item-box  layer-photos-demo1 layer-photos-demo">
            <p><span class="tag-2">{{range $.label}}{{.Name}}{{end}}</span>/<span
                    class="tag-3">{{time .Renew true}}</span>/{{range $tag := tags .Tags}}
                <span class="tag-1">{{$tag}}</span>&nbsp;
            {{end}}
            </p>
            <div class="typo" id="markdown">

            </div>
            <div class="count layui-clear">
                <span class="pull-left">阅读 <em>100000+</em></span>
                <span class="pull-right like"><i class="layui-icon layui-icon-praise"></i><em>999</em></span>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script src="/static/common/bootstrap.js"></script>
<script src="/static/common/strapdown/strapdown.js"></script>
<script>
    $("#markdown").text("{{.Content}}");
    markdown("markdown");
</script>
{{end}}