<main>
    <section class="content">
        <h1>文章归档</h1>
        <div class="meta">本博客共有{{tn "article"}}篇文章</div>
        <h2>2018 - </h2>
        <ul class="archived-posts">
        {{range .list}}
            <li>
                <time>{{tsc .Renew false}}</time>
                {{if $.rewrite}}
                    <a href="/{{$.rule}}/{{.Name}}.html">{{.Title}}</a><span>{{category .Cid "name"}}</span>
                {{else}}
                    <a href="/{{$.rule}}/{{.Name}}">{{.Title}}</a><span>{{category .Cid "name"}}</span>
                {{end}}
            </li>
        {{end}}
        </ul>
        <h2>分类 </h2>
        <ul class="archived-posts">
        {{range .category}}
            <li>
                <a href="/category/{{.Key}}">{{.Name}}</a> <span>共{{cn .Id}}篇</span>
            </li>
        {{end}}
        </ul>
    </section>
    <section class="pager">
        <div class="paginator pager pagination no_pages">
            <div class="paginator_container pagination_container">
            </div>
        </div>
    </section>
</main>
</div>