<main>
    <section class="content">
        {{if eq .isNil 1}}
        <h1>{{.list}}</h1>
        {{else}}
        {{range .info}}
            <h1>{{.Name}}</h1>
            <div class="meta">{{.Description}}</div>
        {{end}}
        <div class="info"></div>
        <ul>
            {{range .list}}
                <li>
                    <time datetime="{{tsc .Renew false}}">{{tsc .Renew false}}</time>
                    <a href="/article/{{.Uuid}}">{{.Title}}</a>
                </li>
            {{end}}
            {{end}}
        </ul>
    </section>
    <section class="pager">
        <div class="paginator pager pagination no_pages">
            <div class="paginator_container pagination_container"></div>
        </div>
    </section>
</main>
</div>