<main>
    <section class="content">
        {{if eq .data.IsNil true}}
        <h1>{{.list}}</h1>
        {{else}}
        {{range .data.Info}}
            <h1>{{.Name}}</h1>
            <div class="meta">{{.Description}}</div>
        {{end}}
        <div class="info"></div>
        <ul>
            {{range .data.List}}
                <li>
                    <time datetime="{{tsc .Renew false}}">{{tsc .Renew false}}</time>
                    {{if eq $.rewrite "true"}}
                        <a href="/{{$.rule}}/{{.Name}}.html">{{.Title}}</a>
                    {{else}}
                        <a href="/{{$.rule}}/{{.Name}}">{{.Title}}</a>
                    {{end}}
                </li>
            {{end}}
            {{end}}
        </ul>
    </section>
    <section class="pager">
        <div class="paginator pager pagination no_pages">
            <div class="paginator_container pagination_container"></div>
        </div>
    </section>
</main>
</div>