<main>
    <section class="article-list">
    {{range .list}}
        <article>
            <h2><a href="/page?id={{.Id}}" class="">{{.Title}}</a></h2>
            <div class="excerpt">
                <p>{{.Summary}}</p>
            </div>
            <div class="meta">
                <span class="item"><i class="iconfont icon-calendar"></i><time
                        datetime="{{time .Renew false}}">{{time .Renew false}}</time></span>
                <span class="item"><i class="iconfont icon-tag"></i><a href="/category?id={{.Cid}}" class="">{{category .Cid}}</a></span>
                <span class="item"><i class="iconfont icon-message"></i><a
                        href="/">0 评</a></span>
            </div>
        </article>
    {{end}}
    </section>
    <section class="list-pager">
    {{if gt .paging.PageCount 1}}
    {{if eq $.page 1}}
        <a href="?page={{calc $.page 1 "+"}}" class="next">下一页<i
                class="iconfont icon-right"></i></a>
    {{else if eq $.page $.paging.PageCount}}
        <a href="?page={{calc $.page 1 "-"}}" class="prev"><i
                class="iconfont icon-left"></i>上一页</a>
    {{else}}
        <a href="?page={{calc $.page 1 "-"}}" class="prev"><i
                class="iconfont icon-left"></i>上一页</a>
        <a href="?page={{calc $.page 1 "+"}}" class="next">下一页<i
                class="iconfont icon-right"></i></a>
    {{end}}
    {{end}}
        <div class="clear">
        </div>
    </section>
</main>
</div>
