@charset "UTF-8";
/*
@name: s
@description: SCSS.2018-07-28
@author: MustardS，http://www.we63.com
*/
/* 专用英文字体是 */
/* 专用数字字体 */
/* 主题颜色 */
/* 颜色不循环，只定义 */
/* 背景色 */
/* 边框色 */
/* 字体body文本颜色 */
/* 标题色 等同黑色 */
/* 描述色 */
/* 链接颜色 */
/* 容器内部间隔线 */
/* input的提示 */
/* 底部边框颜色，或者横线颜色 */
/* 底部阴影 */
/* 混合颜色 */
/* 含有圆角 */
/* 含有阴影 */
/* 含有边框 */
/* hover 动效，动弹 */
/* hover 动效，阴影 */
/*投稿scard */
.simple-card {
  position: relative;
  display: block;
  height: 370px;
  background: white;
  box-shadow: 0 0 25px rgba(40, 47, 60, 0.05), 0 20px 25px rgba(40, 47, 60, 0.05), 0 3px 4px rgba(40, 47, 60, 0.05);
  transition: all 1s;
  overflow: hidden; }

.simple-card:hover .simple-card-body {
  height: 140px; }

.simple-card > span.card_ribbon {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none; }

.simple-card > span.is_hot {
  position: absolute;
  top: 13px;
  left: 10px; }

.simple-card img {
  width: 100%; }

.simple-card .simple-card-body {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100px;
  background-color: #FFF;
  transition: all .2s; }

.simple-card-body h1 {
  height: 20px;
  padding: 0 10px;
  margin: 10px 0 5px 0;
  font-size: 15px;
  text-align: center; }

.simple-card-body p {
  height: 55px;
  padding: 0 10px;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center; }

.simple-card-body p a {
  color: #1E9FFF; }

.simple-card-body p a:hover {
  text-decoration: underline; }

.simple-card-body .simple-card-link {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-align: center; }

.simple-card-link:hover {
  background-color: #F6F6F6; }

.simple-card-body .simple-card-link .layui-icon {
  font-size: 10px;
  padding: 0 0 0 5px; }

/* 区块 */
.block {
  font-size: 14px;
  line-height: 2;
  padding: 50px 0;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: #FFFFFF; }
  .block .block-touch {
    border-top: solid 5px #1E9FFF; }
  .block .block-box {
    background: #FFFFFF;
    padding: 40px 40px;
    border-radius: 2px;
    box-shadow: 0 10px 60px 0 rgba(29, 29, 31, 0.09);
    overflow: hidden; }
  .block h2 {
    margin-bottom: .5rem;
    margin-top: .3rem;
    font-weight: 400; }

/* 底部导航简单 */
.footer-simple {
  text-align: center;
  font-weight: bold; }

/* 分割线 */
.divider {
  position: relative;
  overflow: hidden;
  margin: 35px 0;
  width: 100%; }

.divider.divider-margin {
  margin: 70px 0; }

.divider.divider-center.divider-short:before,
.divider.divider-center:before,
.divider:after {
  content: '';
  position: absolute;
  width: 100%;
  top: 8px;
  left: 30px;
  height: 0;
  border-top: 1px solid #ecedf2; }

.divider.divider-center.divider-short.divider-thick:before,
.divider.divider-center.divider-thick:before,
.divider.divider-thick:after {
  border-top-width: 3px; }

.divider.divider-short:after {
  width: 30%; }

.divider i {
  position: relative;
  width: 18px;
  height: 18px;
  line-height: 1;
  font-size: 18px !important;
  text-align: center;
  color: #768093; }

.divider.divider-right {
  text-align: right; }

.divider.divider-right:after {
  left: auto;
  right: 30px; }

.divider.divider-center,
.divider.divider-center.divider-short {
  text-align: center; }

.divider.divider-center:before {
  left: -50% !important;
  right: 0;
  margin-left: -20px; }

.divider.divider-center:after {
  left: 50% !important;
  right: 0;
  margin-left: 20px; }

.divider.divider-center.divider-short:before {
  left: auto !important;
  right: 50%;
  margin-right: 20px;
  width: 15%; }

.divider.divider-center.divider-short:after {
  left: 50% !important;
  right: auto !important;
  margin-left: 20px;
  width: 15%; }

/* 下拉按钮 */
.dropdown {
  display: inline-block;
  position: relative; }
  .dropdown .layui-btn {
    border-radius: 0;
    margin-left: 0; }
  .dropdown .layui-btn:first-child {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px; }
  .dropdown .layui-btn:nth-child(2) {
    padding: 0 8px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px; }
  .dropdown .layui-btn-sm.layui-btn:nth-child(2) {
    padding: 0 5px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px; }
  .dropdown .menu {
    animation: slide-down .15s ease 1;
    display: none;
    left: 0;
    max-height: 50vh;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0.05rem 0.2rem rgba(69, 77, 93, 0.3);
    list-style: none;
    margin: 0;
    min-width: 120px;
    padding: .4rem;
    transform: translateY(0.2rem);
    z-index: 300; }
    .dropdown .menu .menu-item {
      margin-top: 0;
      padding: .2rem .4rem;
      text-decoration: none;
      user-select: none; }
    .dropdown .menu .menu-item > a:focus, .dropdown .menu .menu-item > a:hover {
      background: #ebf7ff;
      color: #999999; }
    .dropdown .menu .menu-item > a {
      border-radius: .1rem;
      color: inherit;
      display: block;
      margin: 0 -.4rem;
      padding: .2rem .4rem;
      text-decoration: none; }
  .dropdown.dropdown-right .menu {
    left: auto;
    right: 0; }
  .dropdown.active .menu,
  .dropdown .dropdown-toggle:focus + .menu,
  .dropdown .menu:hover {
    display: block; }

/* 角标 */
.ribbon {
  position: relative;
  min-height: 52px; }

.ribbon-left .ribbon-box {
  right: auto;
  left: 0; }

.ribbon-bottom .ribbon-box {
  top: auto;
  bottom: 10px; }

.ribbon-box {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 0 12px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  font-weight: 600;
  z-index: 2; }

.ribbon-box::before {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  content: ""; }

/* 圆图标按钮 */
.btn-circle {
  font-size: 13px;
  border-radius: 50%;
  display: inline-block;
  height: 58px;
  line-height: 58px;
  margin: 8px 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s;
  width: 58px; }

.btn-circle.layui-btn-sm {
  font-size: 13px;
  height: 36px;
  line-height: 18px;
  margin: 6px 2px;
  width: 36px; }

.btn-circle.layui-btn-lg {
  height: 72px;
  line-height: 40px;
  margin: 10px 6px;
  width: 72px; }
  .btn-circle.layui-btn-lg .layui-icon {
    font-size: 22px; }

/* 挂件11 */
a.widget11 {
  text-decoration: none;
  display: block;
  color: #252629;
  transition: all 0.25s ease;
  padding: 1.5rem 1.5rem;
  text-align: center; }
  a.widget11 .widget11-label {
    display: block;
    color: #999999;
    margin-top: 10px;
    letter-spacing: 1px;
    text-align: center; }

/* 挂件10 */
a.widget10 {
  text-decoration: none;
  display: block;
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.25s ease;
  background-color: #fff;
  padding: 1.5rem 1.5rem;
  position: relative;
  border-radius: 2px;
  transition: all .12s ease-out; }
  a.widget10:hover {
    box-shadow: 0 0 36px #d8dde5;
    opacity: 1; }
  a.widget10 .widget10-label {
    display: block;
    font-size: 12px;
    letter-spacing: 1px; }
  a.widget10 .widget10-value {
    font-size: 30px;
    font-weight: bold;
    font-family: Langdon;
    letter-spacing: 1px;
    line-height: 2;
    display: block;
    vertical-align: middle;
    margin-bottom: 0.8rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  a.widget10 .widget10-trending {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem; }
    a.widget10 .widget10-trending i {
      font-size: 38px;
      font-weight: bold;
      opacity: .6; }

/* 挂件9 */
a.widget9 {
  text-decoration: none;
  display: block;
  color: #252629;
  transition: all 0.25s ease;
  background-color: #fff;
  text-align: center;
  border-radius: 2px;
  transition: all .12s ease-out; }
  a.widget9:hover {
    box-shadow: 0 0 36px #d8dde5;
    opacity: 1; }
  a.widget9 .widget9-label {
    display: block;
    font-size: 12px;
    color: #999999;
    letter-spacing: 1px; }
  a.widget9 .widget9-value {
    margin-top: 10px;
    font-weight: bold;
    line-height: 2;
    display: block;
    vertical-align: middle;
    color: #999999; }
    a.widget9 .widget9-value i {
      margin-right: 5px; }
  a.widget9 .widget9-box {
    background: #f8f8f8;
    padding: .2rem 1.5rem 1rem; }
  a.widget9 .widget9-trending {
    padding: 1.5rem 1.5rem;
    font-size: 2.571429rem;
    font-weight: bold; }

/* 挂件8 */
a.widget8 {
  text-decoration: none;
  display: block;
  color: #252629;
  transition: all 0.25s ease;
  background-color: #fff;
  text-align: center;
  border-radius: 2px;
  transition: all .12s ease-out; }
  a.widget8:hover {
    box-shadow: 0 0 36px #d8dde5;
    opacity: 1; }
  a.widget8 .widget8-label {
    display: block;
    font-size: 12px;
    color: #999999;
    letter-spacing: 1px; }
  a.widget8 .widget8-value {
    margin-top: 10px;
    font-weight: bold;
    line-height: 2;
    display: block;
    vertical-align: middle;
    color: #999999; }
  a.widget8 .widget8-box {
    background: #f8f8f8;
    padding: .2rem 1.5rem 1rem; }
  a.widget8 .widget8-trending {
    padding: 1.5rem 1.5rem; }
    a.widget8 .widget8-trending i {
      font-size: 50px; }

/* 单选扩展 */
.radiogroup {
  display: inline-flex;
  margin-bottom: 1.5rem; }
  .radiogroup .radiogroup-item {
    flex-grow: 1;
    position: relative; }
  .radiogroup .radiogroup-item + .radiogroup-item {
    margin-left: -1px; }
  .radiogroup .radiogroup-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0; }
  .radiogroup .radiogroup-button {
    display: block;
    border: 1px solid rgba(0, 40, 100, 0.12);
    text-align: center;
    padding: 1.5rem 2.5rem;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    min-width: 2.375rem; }
  .radiogroup .radiogroup-button i {
    color: #999999;
    font-size: 35px;
    line-height: 2; }
  .radiogroup .radiogroup-text {
    color: #252629; }
  .radiogroup .radiogroup-desc {
    font-size: 12px;
    color: #999999; }
  .radiogroup .radiogroup-input:checked + .radiogroup-button {
    border-color: #1e9fff;
    z-index: 1;
    color: rgba(0, 0, 0, 0.65);
    background: #ebfaff; }
    .radiogroup .radiogroup-input:checked + .radiogroup-button i {
      color: #1e9fff;
      font-size: 35px;
      line-height: 2; }
    .radiogroup .radiogroup-input:checked + .radiogroup-button .radiogroup-text {
      color: #1e9fff; }

/* 挂件7 */
a.widget7 {
  text-decoration: none;
  display: block;
  color: #252629;
  transition: all 0.25s ease;
  background-color: #fff;
  padding: 1.5rem 1.5rem;
  text-align: center;
  border-radius: 2px;
  transition: all .12s ease-out; }
  a.widget7:hover {
    box-shadow: 0 0 36px #d8dde5;
    opacity: 1; }
  a.widget7 .widget7-value {
    font-size: 2.571429rem;
    font-weight: bold;
    line-height: 2;
    display: block;
    vertical-align: middle; }
  a.widget7 .widget7-label {
    display: block;
    color: #999999;
    letter-spacing: 1px;
    margin-bottom: 20px; }
    a.widget7 .widget7-label i {
      margin-right: 5px; }

/* 挂件6 */
a.widget6 {
  text-decoration: none;
  display: block;
  color: #252629;
  transition: all 0.25s ease;
  background-color: #fff;
  padding: 1.5rem 1.5rem;
  text-align: center;
  border-radius: 2px;
  transition: all .12s ease-out; }
  a.widget6:hover {
    box-shadow: 0 0 36px #d8dde5;
    opacity: 1; }
  a.widget6 .widget6-label {
    display: block;
    color: #999999;
    letter-spacing: 1px;
    margin-bottom: 20px; }
  a.widget6 .widget6-trending {
    margin-top: 10px;
    padding: 3px 3px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-left: 5px; }
    a.widget6 .widget6-trending i {
      font-size: 50px; }

/* 挂件5 */
a.widget5 {
  text-decoration: none;
  display: block;
  color: #252629;
  transition: all 0.25s ease;
  background-color: #fff;
  text-align: center;
  border-radius: 2px;
  transition: all .12s ease-out; }
  a.widget5:hover {
    box-shadow: 0 0 36px #d8dde5;
    opacity: 1; }
  a.widget5 .widget5-label {
    display: block;
    font-size: 12px;
    color: #999999;
    letter-spacing: 1px; }
  a.widget5 .widget5-value {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    display: block;
    vertical-align: middle; }
  a.widget5 .widget5-box {
    background: #f8f8f8;
    padding: .2rem 1.5rem 1rem; }
  a.widget5 .widget5-trending img {
    width: 64px;
    border-radius: 50%; }
  a.widget5 .widget5-trending {
    padding: 1.5rem 1.5rem; }

/* 挂件4 */
a.widget4 {
  text-decoration: none;
  display: block;
  color: #252629;
  transition: all 0.25s ease;
  background-color: #fff;
  padding: 1rem 1.5rem;
  text-align: center;
  border-radius: 2px;
  transition: all .12s ease-out; }
  a.widget4:hover {
    box-shadow: 0 0 36px #d8dde5;
    opacity: 1; }
  a.widget4 .widget4-label {
    display: block;
    font-size: 12px;
    color: #999999;
    letter-spacing: 1px; }
  a.widget4 .widget4-value {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    display: block;
    vertical-align: middle; }
  a.widget4 .widget4-trending img {
    width: 64px;
    border-radius: 50%; }

/* 挂件3 */
a.widget3 {
  text-decoration: none;
  display: block;
  color: #252629;
  transition: all 0.25s ease;
  background-color: #fff;
  padding: 1.5rem 1.5rem;
  text-align: center;
  border-radius: 2px;
  transition: all .12s ease-out; }
  a.widget3:hover {
    box-shadow: 0 0 36px #d8dde5;
    opacity: 1; }
  a.widget3 .widget3-label {
    display: block;
    font-size: 12px;
    color: #999999;
    letter-spacing: 1px;
    margin-bottom: 15px; }
  a.widget3 .widget3-value {
    font-size: 30px;
    font-weight: bold;
    font-family: Langdon;
    letter-spacing: 1px;
    line-height: 2;
    display: block;
    vertical-align: middle; }
  a.widget3 .widget3-trending {
    float: left;
    margin-top: 10px;
    padding: 3px 3px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-left: 5px; }
    a.widget3 .widget3-trending i {
      font-size: 50px; }

/* 幽灵按钮 */
.ghost-btn-blue {
  background-color: transparent;
  color: #1E9FFF;
  font-weight: bold;
  border: 1px solid #1E9FFF; }
  .ghost-btn-blue:hover {
    background-color: #1E9FFF;
    color: #fff;
    transition: all 0.6s; }

.ghost-btn-red {
  background-color: transparent;
  color: #FF5722;
  font-weight: bold;
  border: 1px solid #FF5722; }
  .ghost-btn-red:hover {
    background-color: #FF5722;
    color: #fff;
    transition: all 0.6s; }

.ghost-btn-orange {
  background-color: transparent;
  color: #f48c02;
  font-weight: bold;
  border: 1px solid #f48c02; }
  .ghost-btn-orange:hover {
    background-color: #f48c02;
    color: #fff;
    transition: all 0.6s; }

.ghost-btn-yellow {
  background-color: transparent;
  color: #FFB800;
  font-weight: bold;
  border: 1px solid #FFB800; }
  .ghost-btn-yellow:hover {
    background-color: #FFB800;
    color: #fff;
    transition: all 0.6s; }

.ghost-btn-green {
  background-color: transparent;
  color: #52c41a;
  font-weight: bold;
  border: 1px solid #52c41a; }
  .ghost-btn-green:hover {
    background-color: #52c41a;
    color: #fff;
    transition: all 0.6s; }

.ghost-btn-cyan {
  background-color: transparent;
  color: #009688;
  font-weight: bold;
  border: 1px solid #009688; }
  .ghost-btn-cyan:hover {
    background-color: #009688;
    color: #fff;
    transition: all 0.6s; }

.ghost-btn-white {
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff; }
  .ghost-btn-white:hover {
    background-color: #fff;
    color: #fff;
    transition: all 0.6s; }

.ghost-btn-pink {
  background-color: transparent;
  color: #eb2f96;
  font-weight: bold;
  border: 1px solid #eb2f96; }
  .ghost-btn-pink:hover {
    background-color: #eb2f96;
    color: #fff;
    transition: all 0.6s; }

.ghost-btn-purple {
  background-color: transparent;
  color: #6f35f0;
  font-weight: bold;
  border: 1px solid #6f35f0; }
  .ghost-btn-purple:hover {
    background-color: #6f35f0;
    color: #fff;
    transition: all 0.6s; }

.ghost-btn-black {
  background-color: transparent;
  color: #252629;
  font-weight: bold;
  border: 1px solid #252629; }
  .ghost-btn-black:hover {
    background-color: #252629;
    color: #fff;
    transition: all 0.6s; }

.ghost-btn-grey {
  background-color: transparent;
  color: #768093;
  font-weight: bold;
  border: 1px solid #768093; }
  .ghost-btn-grey:hover {
    background-color: #768093;
    color: #fff;
    transition: all 0.6s; }

.ghost-btn-lightblack {
  background-color: transparent;
  color: #2F4056;
  font-weight: bold;
  border: 1px solid #2F4056; }
  .ghost-btn-lightblack:hover {
    background-color: #2F4056;
    color: #fff;
    transition: all 0.6s; }

.ghost-btn-deepblack {
  background-color: transparent;
  color: #393D49;
  font-weight: bold;
  border: 1px solid #393D49; }
  .ghost-btn-deepblack:hover {
    background-color: #393D49;
    color: #fff;
    transition: all 0.6s; }

.ghost-btn-lightblue {
  background-color: transparent;
  color: #8abee5;
  font-weight: bold;
  border: 1px solid #8abee5; }
  .ghost-btn-lightblue:hover {
    background-color: #8abee5;
    color: #fff;
    transition: all 0.6s; }

.ghost-btn-deepblue {
  background-color: transparent;
  color: #1d508d;
  font-weight: bold;
  border: 1px solid #1d508d; }
  .ghost-btn-deepblue:hover {
    background-color: #1d508d;
    color: #fff;
    transition: all 0.6s; }

/* 挂件2 */
a.widget2 {
  text-decoration: none;
  display: block;
  color: #252629;
  transition: all 0.25s ease;
  background-color: #fff;
  padding: 1.5rem 1.5rem;
  text-align: center;
  border-radius: 2px;
  transition: all .12s ease-out; }
  a.widget2:hover {
    box-shadow: 0 0 36px #d8dde5;
    opacity: 1; }
  a.widget2 .widget2-label {
    display: block;
    font-size: 12px;
    color: #999999;
    letter-spacing: 1px;
    margin-bottom: 20px; }
  a.widget2 .widget2-value {
    font-size: 30px;
    font-weight: bold;
    font-family: Langdon;
    letter-spacing: 1px;
    line-height: 2;
    display: block;
    vertical-align: middle; }
  a.widget2 .widget2-trending {
    margin-top: 10px;
    padding: 3px 3px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-left: 5px; }
    a.widget2 .widget2-trending i {
      font-size: 50px; }

/* 挂件1 */
a.widget1 {
  text-decoration: none;
  display: block;
  color: #768093;
  transition: all 0.25s ease;
  background-color: #fff;
  padding: 1.5rem 1.5rem;
  border-radius: 2px;
  transition: all .12s ease-out; }
  a.widget1:hover {
    box-shadow: 0 0 36px #d8dde5;
    opacity: 1; }
  a.widget1 .widget1-label {
    display: block;
    font-size: 12px;
    color: #999999;
    letter-spacing: 1px;
    margin-bottom: 10px; }
  a.widget1 .widget1-value {
    color: #252629;
    font-size: 38px;
    font-weight: bold;
    font-family: Langdon;
    letter-spacing: 1px;
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle; }
  a.widget1 .widget1-trending {
    padding: 3px 3px;
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    margin-left: 5px; }

/* alert 提醒  */
.alert {
  position: relative;
  margin-bottom: 1.5rem;
  color: #fff;
  padding: .75rem 1.25rem; }
  .alert i {
    margin-right: 5px; }
  .alert a {
    color: rgba(255, 255, 255, 0.8); }
  .alert a:hover {
    color: white; }

/* box 文章盒整体风格 */
.box {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 10px 60px 0 rgba(29, 29, 31, 0.09);
  transition: all .12s ease-out; }
  .box:hover {
    box-shadow: 0 0 36px #d8dde5;
    opacity: 1; }

/* 博客展示盒 */
.box .post-img img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  height: 370px; }
.box .post-content {
  height: 370px;
  padding: 50px;
  background: #fff; }
  .box .post-content h6 {
    font-weight: bold;
    color: #999999;
    margin-bottom: 30px; }
  .box .post-content h2 {
    margin-bottom: 30px; }
    .box .post-content h2 a {
      color: #252629; }
    .box .post-content h2 a:hover {
      color: #1E9FFF; }
  .box .post-content p {
    margin-bottom: 30px; }
  .box .post-content .author {
    color: #252629; }
    .box .post-content .author:hover {
      color: #1E9FFF; }

/* 图片盒遮罩 */
.box .box-figure img {
  display: block;
  max-width: 100%; }
.box .box-pic {
  position: relative; }
.box .box-pic img {
  display: block;
  max-width: 100%; }
.box .pic-title {
  position: absolute;
  left: 1.5rem;
  bottom: 20px;
  color: #fff;
  z-index: 100; }
.box .pic-desc {
  position: absolute;
  left: 1.5rem;
  bottom: 20px;
  color: #fff;
  z-index: 100; }
.box .pic-desc + .pic-title {
  bottom: 50px; }
.box .box-pic:after {
  width: 100%;
  display: block;
  content: "";
  background: linear-gradient(to bottom, rgba(44, 54, 67, 0) 0, rgba(44, 54, 67, 0.75) 100%);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%; }

/* 组合图文 */
.box .box-figure img {
  display: block;
  max-width: 100%; }
.box .box-body {
  padding: 1.5rem; }
.box .box-desc {
  color: #999999;
  font-size: 12px;
  margin-top: 0.8rem; }
.box .box-zht {
  font-size: 14px;
  font-weight: normal; }
  .box .box-zht a {
    color: #252629; }
  .box .box-zht a:hover {
    color: #1E9FFF; }
.box .box-footer {
  border-top: 1px solid #f5f5f5;
  height: 50px;
  line-height: 50px;
  padding: 0 1.5rem; }
.box .footer-reference {
  float: left; }
.box .footer-reference img {
  display: inline-block;
  width: 30px;
  border-radius: 50%; }
.box .footer-rtime {
  float: right;
  color: #999999; }
.box .footer-author {
  float: right;
  padding-left: 0.8rem; }
.box .footer-ltime {
  color: #999999; }
.box .box-item {
  color: #999999;
  padding-top: 0.8rem; }
.box .box-item-mar {
  margin-right: 0.8rem; }

/* 图文盒带标题和描述和作者 */
.box .box-figure img {
  display: block;
  max-width: 100%; }
.box .box-body {
  padding: 1.5rem; }
.box .box-title {
  color: #252629;
  font-size: 16px;
  font-weight: 700;
  padding: 1.5rem  1.5rem 0 1.5rem; }
  .box .box-title a {
    color: #252629; }
  .box .box-title a:hover {
    color: #768093; }
.box .box-title + .box-body {
  padding-top: 1rem; }
.box .box-desc {
  color: #999999;
  font-size: 12px;
  margin-top: 0.8rem; }
.box .title-reference {
  padding: 0.8rem 0 0 1.5rem; }
.box .title-reference img {
  display: inline-block;
  width: 25px;
  border-radius: 50%; }
.box .title-author {
  padding-left: 0.5rem; }
.box .title-reference + .box-body {
  padding-top: 1rem; }

/* 文章盒*/
.box .box-body {
  padding: 1.5rem; }

/* 电商盒 */
.box .box-figure img {
  display: block;
  max-width: 100%; }
.box .box-body {
  padding: 1.5rem; }
.box .box-price {
  color: #f48c02;
  text-align: center;
  padding-top: 1rem; }
.box .box-rtitle {
  font-size: 14px;
  text-align: center; }
.box .box-eva {
  color: #999999;
  font-size: 12px;
  margin-top: 0.8rem;
  text-align: center; }
.box .box-dprice {
  color: #999999; }
